DB_HOST=localhost
DB_PORT=5433
DB_NAME=safeedge
DB_USERNAME=safeedge
DB_PASSWORD=safeedge
TIPPMIX_BASE_URL=https://api.tippmix.hu
TIPPMIX_MANUAL_EVENT_ID=
TIPPMIX_COLLECTOR_ENABLED=true
TIPPMIX_COLLECTOR_FIXED_DELAY=PT5M
TIPPMIX_COLLECTOR_PAGE_SIZE=20
TIPPMIX_COLLECTOR_MAX_PAGES=50
TIPPMIX_RESULTS_ENABLED=true
TIPPMIX_RESULTS_FIXED_DELAY=PT15M
